/* Section one styling */
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vw;
}

.mouse-click{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25vw;
}

.first-heading{
    text-align: center;
    color: white;
}

.section-one{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

    /* Center the items with image acting as background */
    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/* About us section */

.about-us-part-two{
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.services-desc{
    padding: 5vw 8vw;
    color: white;
    text-align: center;
}

.about_title{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about_desc{
    size: 14px;
    text-align: center;
    padding: 0 20vw;
    margin-bottom: 2rem;
    font-weight: 100;
}


/* Services section */

.services{
    padding: 0 6vw;
}

.service-title-main{
    text-align: center;
    padding: 2vw;
}

.service-title{
    text-align: center;
    font-weight: bold;
}

.service-desc{
    display: none;
    text-align: center;
}

.service-desc-clicked{
    text-align: center;
    display: block;
}

.service-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1rem;
}

/* Portfolio */

.portfolio{
    margin-top: 2rem;
}

.row-style{
    margin-top: 2rem;
}

.portfolio-img {
    margin-bottom: 32px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.row-style{
    padding:0 6vw;
}

.tooltip{
    color:black !important;
    background-color: white !important;
}

/* Contact US */

.contact-us{
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: block;
}

.contact-form{
    padding: 4vw 16vh;
    background: transparent !important;
}

.form-control{
    background: transparent !important;
    color: white !important;
}

.btn-light{
    width: 50%;
    margin: 0 18vw;
    text-align: center;
}

.contact-title{
    text-align: center;
    color: white;
}

.form-control{
    background: transparent;
    color: white;
    margin-top: 2vh;
}

::placeholder{
    color: white !important;
}


/* Contact US */

.socials{
    padding:2em;
    text-align: center;
}

/* Footer */

.footer{
    text-align: center;
}